In [ ]:
#help

x= [1,2,3]

sum(x)

6

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
x = input("Type a number: ")
y = input("Type another number: ")

sum = int(x) + int(y)

print("The sum is: ", sum)

Type a number: 55555
Type another number: 6969
The sum is:  62524

In [ ]:
x = 5
y = 10

temp = x
x = y
y = temp

print('The value of x after swapping:',(x))
print('The value of y after swapping:',(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [ ]:
a = 5
b = 10
a, b = b, a
print("a:", a)
print("b:", b)

a: 10
b: 5

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
import numpy as np # type: ignore

matrix1 = np.array([[1, 3], [5, 7]])
matrix2 = np.array([[2, 6], [4, 8]])
addition = matrix1 + matrix2
subtraction = matrix1 - matrix2
multiplication = np.dot(matrix1,matrix2)
division= matrix1 / matrix2
print("Matrix Addition:")
print(addition)
print("Matrix Subtraction:")
print(subtraction)
print("Matrix Multiplication:")
print(multiplication)
print("Matrix Division:")
print(division)

Matrix Addition:
[[ 3  9]
 [ 9 15]]
Matrix Subtraction:
[[-1 -3]
 [ 1 -1]]
Matrix Multiplication:
[[14 30]
 [38 86]]
Matrix Division:
[[0.5   0.5  ]
 [1.25  0.875]]